/*  FARBY
MAIN - B5C18E / 8A9A5B
Text - B99470
Secondary - EADBC8 / C7B7A3
BG - F1F1F1

*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}
/* NAVBAR */
.navbar {
    transition: all 0.3s ease;
    color: #8A9A5B;
}
.navbar-brand img {
    height: 40px;
    transition: height 0.3s ease;
}
.navbar.shrink {
    padding: 0.5rem 1rem;
}
.navbar.shrink .navbar-brand img {
    height: 25px;
}
.navbar.shrink .nav-link{
    font-size: 0.8rem;
}
/* Styles for the underline effect */
.nav-link {
    position: relative;
    color: #8A9A5B;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
    margin-left: 1rem; /* Adjust margin as needed */
    margin-right: 1rem; /* Adjust margin as needed */
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #B5C18E;
    transition: width 0.3s ease;
}

.nav-link.hovered::after {
    width: 100%;
}
.navbar-nav .nav-item + .nav-item {
    margin-left: 2rem;
}

/* Language dropdown */
.nav-link.dropdown-toggle {
    color: #8A9A5B;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav-link.dropdown-toggle:hover {
    color: #B5C18E;
}

/* Remove button styles */
.dropdown-menu {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    background-color: #B5C18E;
    color: #fff;
}

/* Toggle switch styles */
.toggle-switch {
    display: flex;
    align-items: center;
    margin-top: 0.5rem; /* Space above the toggle switch on small screens */
}

.night-mode-toggle {
    display: none;
}

.night-mode-label {
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: #ddd;
    border-radius: 20px;
    position: relative;
    transition: background 0.3s ease;
}

.night-mode-label::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    top: 1px;
    left: 1px;
    transition: all 0.3s ease;
}

.night-mode-toggle:checked + .night-mode-label {
    background: #4f4f4f;
}

.night-mode-toggle:checked + .night-mode-label::before {
    transform: translateX(20px);
}

@media (max-width: 992px) {
    .navbar-nav {
        display: block;
        text-align: center;
    }
    .navbar-nav .nav-link {
        margin-left: 0; /* Remove margin on smaller screens */
        margin-right: 0; /* Remove margin on smaller screens */
    }
    .d-lg-none {
        display: block !important;
    }
}



/* MAIN SECTION */
.main-section {
    background: #F1F1F1; /* Light background color */
    padding: 3rem 0; /* Vertical padding */
    text-align: center; /* Center align for small screens */
}

.main-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #352208;
}

.main-section p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #352208;
}

.main-section .btn-primary {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}
.txt-rotate{
    color: #B5C18E;
}

/* Trapezoid Image */
.main-section img {
    max-width: 80%; /* Ensure the image is not too large */
    height: auto;
    clip-path: polygon(25% 0%, 99% 0%, 75% 100%, 1% 100%);
    border: 5px solid #B5C18E;
}

@media (max-width: 992px) {
    .main-section {
        text-align: center;
    }
    .main-section .col-lg-6 {
        margin-bottom: 2rem;
    }
    .main-section img {
        max-width: 100%;
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    }
}


/* CTA Section (Calculator) */
.cta-container {
    margin-top: 2rem;
    text-align: right; /* Align text to the right */
}

.cta-container p {
    font-size: 1rem;
    color: #352208;
}

.cta-container .btn-secondary {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}

/* Ensure the spacing is consistent */
.main-section .col-lg-6 {
    padding-bottom: 2rem; /* Optional: add extra padding if needed */
}

@media(max-width: 922px){
    .cta-container{
        text-align: center;
    }
}

/* Calculator Section */

#calculator {
    scroll-margin-top: 70px;
}
#calculator h2 {
    color: #B5C18E;
}

#calculator p{
    color: #352208;
}

#calculator .form-label {
    font-weight: bold;
    color: #B5C18E;
}

#calculator .form-select {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    margin-bottom: 1rem;
}

#calculator .btn-primary {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}

#resultsChart {
    max-width: 100%;
    height: auto;
}

#feedback {
    font-size: 1rem;
    color: #352208;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    margin-top: 1rem;
}

.calculator-section {
    padding: 20px;
    background: #F1F1F1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Smooth transition */
}

.calculator-section:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}

.form-select, .form-control {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-select:focus, .form-control:focus {
    border-color: #B5C18E;
    box-shadow: 0 0 8px rgba(181, 193, 142, 1);
}

.btn-primary {
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: black;
}

.btn-primary:hover {
    background-color: #8A9A5B;
    transform: scale(1.05); /* Slightly scale up on hover */
    border-color: #8A9A5B;
    color: white;

}

.btn-secondary{
    background-color: #EADBC8;
    border-color: #EADBC8;
    color: black;
}

.btn-secondary:hover{
    background-color: #C7B7A3;
    border-color: #C7B7A3;
}

.calculator-button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.calculator-button:hover {
    background-color: #8A9A5B;
    transform: scale(1.05);
}

.btn-primary{
    background-color: #B5C18E;
    border-color: #B5C18E;
}


/*CUSTOMER CARDS*/

#customer-types {
    background-color: #F1F1F1;
    padding: 3rem 0;
}

#customer-types h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #8A9A5B;
}

.customer-cards-container {
    position: relative;
    display: flex;
    align-items: center;
}

.customer-cards-wrapper {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    flex: 1;
    padding: 0 3rem; /* Adjust padding to ensure arrows are outside the content */
}

.customer-card {
    flex: 0 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 1rem;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.customer-card:hover {
    transform: scale(1.05);
}

.customer-card .icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.customer-card .content h4 {
    margin-bottom: 0.5rem;
    color: #B5C18E;
}

.customer-card .content p {
    color: #352208;
}

.scroll-arrow {
    background: transparent;
    border: none;
    color: #8A9A5B;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-arrow:hover {
    color: #B5C18E;
}

.scroll-arrow.left-arrow {
    left: -2rem; /* Position the left arrow outside the content */
}

.scroll-arrow.right-arrow {
    right: -2rem; /* Position the right arrow outside the content */
}

#benefits {
    background-color: white;
    padding: 3rem 0;
    text-align: center;
}

#benefits h2 {
    color: #8A9A5B;
}

#benefits p {
    color: #352208;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.cta-section {
    background-color: #F1F1F1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
}

.cta-section h3 {
    color: #8A9A5B;
    margin-bottom: 1rem;
}

.cta-section p {
    color: #352208;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.cta-button {
    background-color: #8A9A5B;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #B5C18E;
    color: white;
}


/*  QUIZ    */

.quiz-body{
    height: 80vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-intro, .quiz-container {
    max-width: 600px;
    width: 100%;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    top: auto;
}

.quiz-intro:hover, .quiz-container:hover {
    transform: scale(1.05);
}

.quiz-container {
    display: none;
}

.quiz-intro h1, .quiz-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #8A9A5B;
}

.quiz-intro p {
    font-size: 1.2rem;
    color: #352208;
}

.quiz-intro .btn, .quiz-container .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.quiz-container label {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.quiz-container label:hover {
    background-color: #f0f0f0;
    border-color: #EADBC8;
}

.quiz-container input[type="radio"] {
    display: none;
}

.quiz-container input[type="radio"]:checked + label {
    background-color: #C7B7A3;
    color: #fff;
    border-color: #C7B7A3;
}

.progress {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e9ecef;
}

.progress-bar {
    height: 100%;
    background-color: #8A9A5B;
    transition: width 0.3s ease-in-out;
}